body {
    background: #c31432;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#body {}

button {
    margin: 10px 0;
    border-radius: 20px;
    font-family: 'Raleway';
    border: 1px solid black;
    padding: 7px;
    color: white;
    font-weight: bolder;
    background-color: black;
}

#challenge {
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    font-size: 1.5vw;
    width: 30%;
    margin: auto;

}


label {
    margin: 10% 0;
    color: white;
}

input {
    border-radius: 20px;
    border: 1px solid gray;
    padding: 6px;
    width: 100%;
}

::placeholder {
    padding: 6px 10px;
    color: grey;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    color: white;
}